
main {
    background-image: linear-gradient(to right, rgb(52, 52, 52), rgb(77, 77, 77));
  }
  body {
    background-image: linear-gradient(to right, rgb(52, 52, 52), rgb(77, 77, 77));
    color: rgba(240,219,79,255);
  }
  h3 {
    font-family:
    Arial, sans-serif;
    color: rgb(52, 52, 52);
  }
  h2 {
    font-family:
    Arial, sans-serif;
    text-align: center;
    text-decoration-style: underline;
    text-decoration-color: rgba(240,219,79,255);
    animation: fadeIn 3s;
    color: #00599c;
  }
  h4 {
    font-family:
    Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
    padding: 50px;
    margin: 0 auto;
    animation: fadeIn 3s;
    color: #00599c;
  }
  p {
    font-family:
    Arial, sans-serif;
    color: rgb(52, 52, 52);
    text-align: center;
  }
  a:link {
    color: #639ad2;
  }
  a:visited {
    color: #639ad2;
  }
  
  h1 { 
    font-family: Arial, sans-serif;
    color: #00599c;
    text-align: center;
    scale: 150%;
    text-decoration-style: underline;
    text-decoration-color:  #00599c;;
    animation: fadeIn 3s;
    font-weight: 900;
    border-bottom: 5px solid #00599c;;
    border-top: 5px solid #00599c;;
  }
  .email {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
  }
  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section .container{
  margin: 100px;
  }
  section h1{
  font-size: 3rem;
  margin: 20px;
  }
  section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  }
  section .text-container{
   display: flex;
  }
  section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #00599c;
  border-radius: 25px;
  }
  section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  }

  @media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
  }

  .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    animation: fadeIn 3s;
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  .reveal.active{
  transform: translateY(0);
  opacity: 1;
  }
  a {
    font-family:
    Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
    margin: 0 auto;
    animation: fadeIn 3s;
  }
  .email {
    font-family:
    Arial, sans-serif;
    align-items: center;
    display: flex;
    align-content: center;
  }
nav { 
  width: 100%;
  margin: 0;
  padding: 0.5px;
  margin-bottom: 5px;
}
a:hover{
  color: rgba(240,219,79,255);
}
.navtext {
  color: black;
  text-align: left, auto;
  display: flex;
  
}
.x{
  width:10%;
}
.y{
  width: 10%;
}
img.rounded-corners {
  border-radius: 70px;
}
/*#loader {
  border: 16px solid rgb(58, 58, 58);
  border-top: 16px solid         rgba(240,219,79,255);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 50%;
  margin: -76px 0 0 -76px;
  align-content: center;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#myDiv {
  display: none;
  text-align: center;
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

a {
  padding: 25px;
  color: #639ad2;
}
